body {
  background-color: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

table {
  margin: 0 auto;
  width: 60%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

table th {
  background-color: #f2f2f2;
  color: #555;
}

table td {
  color: #666;
}

form {
  background-color: #E5E4E2;
  border-radius: 30px;
  padding: 5% 5%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 30px;
  color: #555;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="checkbox"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #333;
  border-radius: 3px;
  margin-right: 5px;
  vertical-align: middle;
  position: relative;
  top: 2px;
  transition: all 0.2s ease-in-out;
}

input[type="checkbox"]:checked {
  background-color: #007bff;
  border-color: #007bff;
}

input[type="checkbox"]:checked::before {
  content: '\2713';
  font-size: 12px;
  color: #fff;
  position: absolute;
  top: 1px;
  left: 4px;
}

input[type="checkbox"]:focus {
  outline: none;
  box-shadow: 0 0 5px #007bff;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2rem;
}

button[type="other-submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}

button[type="submit"],[type="other-submit"]:hover {
  background-color: #3e8e41;
}

button[type="delete"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #d11a2a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}

.modal#confirmation-modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 5%;
  left: 34%;
  width: 30%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #E5E4E2;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
}

.header {
  margin-bottom: 20px;
}

.header h2 {
  font-size: 2rem;
  color: #333;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

button[type="logout"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff6700;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.dash-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #f2f2f2;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header-button {
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.header-button[type="logout"] {
  background-color: #ff6700;
}

.header-button[type="redirect"] {
  background-color: #4caf50;
}

.dash-wrapper{
  margin-top: 50px;
}

ul#orderList {
  list-style-type: none;
  padding-left: 0;
}

ul#orderList li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

ul#orderList li p {
  margin: 0;
  margin-right: 10px;
}

ul#orderList li button {
  margin-left: 5%;
}


